@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    background-color: #0B0C10;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#nav {
    background: #1F2833;
}

#nav li {
    padding: 10px 0px 10px 0px;
    list-style-type: none;
}

#nav li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#nav li a:hover {
    color: dodgerblue;
    font-size: 35px;
    transition: 0.5s;
}

.hamburger {
    display: block;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 60px;
    margin: auto;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

#button {
    border-top: 0.5px solid #1F2833;
    background-color: #0B0C10;
}

.primary-navigation {
    transition: 0.5s ease-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.background1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../nevenjuric/images/background12.jpg);
    background-size: cover;
    min-height: 800px;
}

#about1 {
    margin-top: 50px;
    margin-bottom: 70px;
    background-color:rgba(0, 0, 0, 0.98);    
    color: white;
    padding: 50px 50px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about2 {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.98);    
    color: white;
    padding: 20px 40px 40px 40px;
    text-align: left;
    font-size: 20px;
}

#about2 li {
    margin-top: 30px;
}

.about .lokacija {
    text-align: center;
    display: flex;
    text-align: justify;
    justify-content: center;
}

.about h1 {
    padding-bottom: 30px;
}

#hr {
    background-color: gray;
    height: 2px;
}

.background2 {
    background-image: url(../nevenjuric/images/background22.jpg);
    background-size: cover;
    min-height: 1050px;
}

#article2 h1 {
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
    font-size: 22px;
    padding-bottom: 35px;
}

#article2 p {
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
    font-size: 22px;
    padding-bottom: 35px;
}

#article2 ul {
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
    font-size: 22px;
}

#article2 ul li {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}

.background3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../nevenjuric/images/background32.jpg);
    background-size: cover;
    min-height: 750px;
}

#h1h1 {
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 25px;
    font-size: 22px;
}

#contain {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#prvi {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.99);
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white;
}

#prvi img {
    object-fit: cover;
    width: 80%;
    border-radius: 50%;
    border: 1px solid white;
    margin: auto;
}

#prvi h1, p {
    padding-top: 10px;
    margin: auto;
    font-size: 20px;
}

#drugi {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.99);
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white;
    text-align: center;
}

#drugi img {
    object-fit: cover;
    width: 80%;
    border-radius: 50%;
    border: 1px solid white;
    margin: auto;
    padding: 20px;
}

#drugi h1, p {
    padding-top: 10px;
    margin: auto;
    font-size: 20px;
}

@media (max-width: 520px) {
    #contain {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    #prvi {
        margin: auto;
        margin-bottom: 20px;
        width: 50%;
    }

    #drugi {
        margin: auto;
        width: 50%;
    }
}

#povratak {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #05386b;
    border: 1px solid #d13639;
    color: white;
    padding: 10px 20px 10px 20px;
}

#povratak:hover {
    color: dodgerblue;
    font-size: large;
    font-size: 30px;
    transition: 0.5s;
}

main {
    background-color: #1F2833;
    color: white;
    font-size: 15px;
}

.artikl {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid gray;
}

.datum {
    border-right: 1px solid gray;
    width: 20%;
    padding: 10px;
}

.obavijest {
    margin: 0px 20px 0 20px;
    width: 80%;
    text-align: left;
}

.primary-navigation {
    display: none;
    transform-origin: top;
    transition: 0.5s;
}

.primary-navigation.active {
    display: block;
}







/* galerija lighbox */

#emailbtn {
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upit {
    width: 1000px;
    height: 800px;
    background-color: white;
    display: none;
    text-align: center;
    padding: 15px;
}
